# Credenciales de osu! API
OSU_CLIENT_ID=tu_id_de_cliente_osu_aqui
OSU_CLIENT_SECRET=tu_secreto_de_osu_aqui

# Credenciales de Google / YouTube OAuth2
YOUTUBE_CLIENT_ID=tu_id_de_google_aqui
YOUTUBE_CLIENT_SECRET=tu_secreto_de_google_aqui
YOUTUBE_REDIRECT_URI=http://localhost:3000/oauth2callback